
.title{
    display: flex;
    justify-content: center;

    .title_line{ 
        @include title_line
    }
    .title_text{
        @include title;
    }
}

.articles{
    z-index: 2;

    .title{
        margin-top: 102px;
        margin-bottom: 87px;
    }
    img{
        width: 100%;
    }
    &__headline{
        @include headline
    }

    &__title{   
        @include title;
        margin-bottom: 19px;

    }
    &__info{
        @include text;
        margin-bottom: 41px;
    }
    &__location{
        @include location-text;
        margin-top: 60px;
        display: flex;
        align-items: center;
    }
    &__location::before{
        content: "";
        width: 20px;
        height:17px;
        background: url(../assets/location_on_FILL1_wght400_GRAD0_opsz48.png) no-repeat center;
        background-size: 90%;
        display: inline-block;
        margin-right: 13px;
    }
    .btn{
        @include btn
    }
}
.articles_position{
    width:86%;
}
.ap2{
    margin-left: 15%;
}

//article-grids
/* articles 1 */
.articles__wrapper{
    margin-bottom: 140px;
    display: grid; 
    grid-template-columns: 1.2fr 0.8fr; 
    grid-template-rows: 1fr; 
    gap: 0px 70px; 
    grid-template-areas: 
      "col1 col2"; 
      align-items: center;
}
.article1{ grid-area: col2; }
.article1_image { grid-area: col1; }

/* articles 2*/
.articles__wrapper2{
    margin-bottom: 122px;

    display: grid; 
    grid-template-columns: 41% 70%; 
    grid-template-rows: 1fr; 
    gap: 0px 70px; 
    grid-template-areas: 
      "col1 col2"; 
      align-items: center;
  }
  .article2_image{ grid-area: col2; }
  .article2 { grid-area: col1; }


