.background{
  background:linear-gradient(243.43deg, #6442ddd1 16.9%, #49a3e3 83.27%), url(../assets/hero.jpg);
  background-size: cover;
	background-repeat: no-repeat;
  height: 800px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 120px;
  padding-top: 53px;
  
  .logo{
    width: 241px;
    height: 54px;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 70px;
    li {
      & .text{  
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}
  .container {
    @include container;
  }