@mixin container {
    max-width: $containerWidth;
    width: 100%;
    margin: 0 auto;
}

@mixin headline {font-family: $fontFamily;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: $accent;
}
@mixin title {
    margin-top: 30px;
font-family: $fontFamily;
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 54px;
color: $accent;
        }

@mixin title--white {
    margin-top: 30px;
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
}



        @mixin text {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: $accent;
        }

        @mixin location-text {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
        }
        
        @mixin title_line {
            border-top: 1px solid #2C4058;
            position: absolute;
            width: 100px;
                }
                
        @mixin title_line--white {
            border-top: 1px solid #ffffff;
            position: absolute;
            width: 100px;
                }

        @mixin btn {
            
            padding: 16px 41px;
            border: 1px solid #2C4058;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            text-decoration: none;
        }
        @mixin btn--hover {
            
            padding: 16px 41px;
            border: 1px solid #ffffff;
            font-family: 'Montserrat';
            font-style: normal;
            background-color: #000000;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            text-decoration: none;
        }


        @mixin container {
            max-width: $containerWidth;
            width: 100%;
            margin: 0 auto;
        }