/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

.background {
  background: linear-gradient(243.43deg, rgba(100, 66, 221, 0.8196078431) 16.9%, #49a3e3 83.27%), url(../assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 120px;
  padding-top: 53px;
}
.main-nav .logo {
  width: 241px;
  height: 54px;
}
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
}
.main-nav ul li .text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
}

.container {
  max-width: 1308px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  text-align: center;
}
.hero .wrapper {
  margin-top: 200px;
}
.hero .wrapper .item {
  height: 1308px;
  padding: 0 12%;
}
.hero .wrapper h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.hero span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}
.hero .hero-arrow {
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
}
.hero .owl-carousel-vertical {
  transform: rotate3d(0, 0, 1, 90deg);
}
.hero .owl-carousel-vertical .item {
  transform: rotate3d(0, 0, 1, -90deg);
}

.title {
  display: flex;
  justify-content: center;
}
.title .title_line {
  border-top: 1px solid #2C4058;
  position: absolute;
  width: 100px;
}
.title .title_text {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
}

.articles {
  z-index: 2;
}
.articles .title {
  margin-top: 102px;
  margin-bottom: 87px;
}
.articles img {
  width: 100%;
}
.articles__headline {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
.articles__title {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  margin-bottom: 19px;
}
.articles__info {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin-bottom: 41px;
}
.articles__location {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.articles__location::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/location_on_FILL1_wght400_GRAD0_opsz48.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 13px;
}
.articles .btn {
  padding: 16px 41px;
  border: 1px solid #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}

.articles_position {
  width: 86%;
}

.ap2 {
  margin-left: 15%;
}

/* articles 1 */
.articles__wrapper {
  margin-bottom: 140px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 0px 70px;
  grid-template-areas: "col1 col2";
  align-items: center;
}

.article1 {
  grid-area: col2;
}

.article1_image {
  grid-area: col1;
}

/* articles 2*/
.articles__wrapper2 {
  margin-bottom: 122px;
  display: grid;
  grid-template-columns: 41% 70%;
  grid-template-rows: 1fr;
  gap: 0px 70px;
  grid-template-areas: "col1 col2";
  align-items: center;
}

.article2_image {
  grid-area: col2;
}

.article2 {
  grid-area: col1;
}

.news {
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
}

.gallery {
  padding-top: 100px;
  margin: 0 13% 139px 13%;
}
.gallery .title {
  margin-bottom: 87px;
}
.gallery img {
  width: 100%;
}
.gallery__grid-left {
  display: grid;
  justify-items: end;
}
.gallery__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 60px;
}
.gallery__grid-right {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
}
.gallery__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .btn {
  padding: 16px 41px;
  border: 1px solid #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}

.contact {
  position: relative;
}
.contact img {
  width: 100%;
}
.contact .title {
  margin-top: 60px;
  margin-bottom: 30px;
}
.contact__list {
  display: flex;
  align-items: center;
}
.contact__list1::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/location_on_FILL1_wght400_GRAD0_opsz48.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__list2::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/call_FILL1_wght400_GRAD0_opsz48.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__list3::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/inbox_FILL1_wght400_GRAD0_opsz48.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__list4::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/scheduleIcon.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__form {
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 0px 60px 69px 60px;
  top: 65%;
  left: 26%;
}
.contact__form-info {
  display: flex;
}
.contact__form-list {
  margin-right: 54px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 56px;
}
.contact__form-input {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.contact input {
  margin-bottom: 33px;
  padding-bottom: 14px;
  padding-right: 80px;
  border: none;
  border-bottom: 1px solid #4B5562;
  color: #4B5562;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.contact .btn {
  padding: 16px 41px;
  border: 1px solid #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  padding: 11px 34px;
  margin-left: 177px;
}

.footer {
  background: linear-gradient(243.43deg, rgba(17, 4, 63, 0.3333333333) 16.9%, rgba(33, 97, 143, 0.6941176471) 83.27%), url("../assets/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__wrapper {
  padding: 254px 0 291px 47px;
}
.footer__cpr {
  padding-top: 41px;
  padding-left: 20%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer__list {
  display: flex;
  align-items: center;
  margin-left: 250px;
}
.footer .footer__socials {
  margin-right: 20px;
}
.footer .icon {
  margin-right: 300px;
}/*# sourceMappingURL=main.css.map */