/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

.background {
  background: linear-gradient(243.43deg, rgba(100, 66, 221, 0.8196078431) 16.9%, #49a3e3 83.27%), url(../assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 120px;
  padding-top: 53px;
}
.navbar .logo {
  width: 241px;
  height: 54px;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 70px;
}
.navbar ul li .text {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.container {
  max-width: 1308px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  text-align: center;
}
.hero .wrapper {
  padding-top: 200px;
}
.hero .wrapper .item {
  height: 850px;
  padding: 0 12%;
}
.hero .wrapper h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  cursor: -webkit-grab;
  cursor: grab;
}
.hero span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}
.hero .hero-arrow {
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
}
.hero .owl-carousel-vertical {
  transform: rotate3d(0, 0, 1, 90deg);
}
.hero .owl-carousel-vertical .item {
  transform: rotate3d(0, 0, 1, -90deg);
}

.title {
  display: flex;
  justify-content: center;
}
.title .title_line {
  border-top: 1px solid #2C4058;
  position: absolute;
  width: 100px;
}
.title .title_text {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
}

.articles {
  z-index: 2;
}
.articles .title {
  margin-top: 102px;
  margin-bottom: 87px;
}
.articles img {
  width: 100%;
}
.articles__headline {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
.articles__title {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
  margin-bottom: 19px;
}
.articles__info {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  margin-bottom: 41px;
}
.articles__location {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin-top: 60px;
  display: flex;
  align-items: center;
}
.articles__location::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/location_on_FILL1_wght400_GRAD0_opsz48.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 13px;
}
.articles .btn {
  padding: 16px 41px;
  border: 1px solid #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}

.articles_position {
  width: 86%;
}

.ap2 {
  margin-left: 15%;
}

/* articles 1 */
.articles__wrapper {
  margin-bottom: 140px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 0px 70px;
  grid-template-areas: "col1 col2";
  align-items: center;
}

.article1 {
  grid-area: col2;
}

.article1_image {
  grid-area: col1;
}

/* articles 2*/
.articles__wrapper2 {
  margin-bottom: 122px;
  display: grid;
  grid-template-columns: 41% 70%;
  grid-template-rows: 1fr;
  gap: 0px 70px;
  grid-template-areas: "col1 col2";
  align-items: center;
}

.article2_image {
  grid-area: col2;
}

.article2 {
  grid-area: col1;
}

.btn:hover {
  padding: 16px 41px;
  border: 1px solid #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  background-color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

.news {
  background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  padding-bottom: 125px;
}
.news .title--white {
  display: flex;
  justify-content: center;
  margin-top: 102px;
  margin-bottom: 87px;
  padding-top: 135px;
}
.news .title--white .title_line--white {
  border-top: 1px solid #ffffff;
  position: absolute;
  width: 100px;
}
.news .title--white .title_text--white {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
}
.news .item {
  background-color: white;
  width: 370px;
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
}
.news .item h4 {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  margin-bottom: 30px;
}
.news .item .news__author {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.news .item .news__author-img {
  width: 60px;
  height: 60px;
  margin: 0 20px;
  border-radius: 100%;
}
.news .item .news__author h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2C4058;
}
.news .item .news__author h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #55B7FF;
}
.news .item p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #2C4058;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 40px;
}

.gallery {
  padding-top: 100px;
  margin: 0 13% 139px 13%;
}
.gallery .title {
  margin-bottom: 87px;
}
.gallery img {
  width: 100%;
}
.gallery__grid-left {
  display: grid;
  justify-items: end;
}
.gallery__grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 60px;
}
.gallery__grid-right {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr;
  gap: 9px;
}
.gallery__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .btn {
  padding: 16px 41px;
  border: 1px solid #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}
.gallery .btn:hover {
  padding: 16px 41px;
  border: 1px solid #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  background-color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

.contact {
  position: relative;
}
.contact img {
  width: 100%;
}
.contact .title {
  margin-top: 60px;
  margin-bottom: 30px;
}
.contact__list {
  display: flex;
  align-items: center;
}
.contact__list1::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/location_on_FILL1_wght400_GRAD0_opsz48.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__list2::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/call_FILL1_wght400_GRAD0_opsz48.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__list3::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/inbox_FILL1_wght400_GRAD0_opsz48.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__list4::before {
  content: "";
  width: 20px;
  height: 17px;
  background: url(../assets/scheduleIcon.png) no-repeat center;
  background-size: 90%;
  display: inline-block;
  margin-right: 6px;
}
.contact__form {
  position: absolute;
  z-index: 1;
  background-color: white;
  padding: 0px 60px 69px 60px;
  top: 65%;
  left: 26%;
}
.contact__form-info {
  display: flex;
}
.contact__form-list {
  margin-right: 54px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 56px;
}
.contact__form-input {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.contact input {
  margin-bottom: 33px;
  padding-bottom: 14px;
  padding-right: 80px;
  border: none;
  border-bottom: 1px solid #4B5562;
  color: #4B5562;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.contact .btn {
  padding: 16px 41px;
  border: 1px solid #2C4058;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  padding: 11px 34px;
  margin-left: 177px;
}
.contact .btn:hover {
  padding: 16px 41px;
  border: 1px solid #ffffff;
  font-family: "Montserrat";
  font-style: normal;
  background-color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  padding: 11px 34px;
  margin-left: 177px;
}

.footer {
  background: linear-gradient(243.43deg, rgba(17, 4, 63, 0.3333333333) 16.9%, rgba(33, 97, 143, 0.6941176471) 83.27%), url("../assets/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.footer__wrapper {
  padding: 254px 0 291px 47px;
}
.footer__cpr {
  padding-top: 41px;
  padding-left: 20%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}
.footer .footer__socials {
  margin-right: 20px;
}
.footer .icon {
  margin-right: 300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  z-index: 2;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: rgb(64, 0, 255);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(20, 118, 198, 0.9450980392);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .container {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
  }
  .main-nav {
    padding-top: 20px;
  }
  .nav-socials {
    display: none;
  }
  .main-nav ul {
    display: none;
  }
  .hamburg {
    display: flex;
    padding-right: 10%;
  }
  .background {
    background: linear-gradient(243.43deg, rgba(100, 66, 221, 0.8196078431) 16.9%, #49a3e3 83.27%), url(../assets/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
  }
  /*hero*/
  .hero .wrapper {
    padding-top: 20px;
  }
  .hero .wrapper .item {
    height: 350px;
    padding: 0 20px;
  }
  .hero .wrapper h1 {
    padding-top: 100px;
    font-weight: 600;
    font-size: 25px;
    line-height: 90px;
  }
  .hero span {
    font-size: 14px;
  }
  /*articles*/
  .articles__wrapper {
    margin-bottom: 100px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .articles__title {
    margin-top: 0px;
    font-size: 25px;
    margin-bottom: 14px;
  }
  .articles__headline {
    padding-top: 20px;
    font-size: 18px;
  }
  .articles__info {
    font-size: 16px;
  }
  .articles__wrapper2 {
    margin-bottom: 100px;
    width: 115%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .ap2 {
    margin-left: 0%;
  }
  /*news */
  .news .title--white .title_text--white {
    margin-top: 10px;
    font-size: 25px;
  }
  .news .title--white {
    display: flex;
    justify-content: center;
    margin-top: 102px;
    margin-bottom: 87px;
    padding-top: 35px;
  }
  .news__article {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0 20px;
  }
  .news .item {
    background-color: white;
    width: 370px;
  }
  .news .item h4 {
    padding-right: 200px;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .news .item p {
    font-size: 14px;
    padding-right: 200px;
  }
  .news .item .news__author-img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 20px;
  }
  .news .item .news__author h5 {
    font-size: 14px;
  }
  /*gallery*/
  .gallery__grid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
  .gallery {
    margin: 0 20px;
    padding-bottom: 60px;
  }
  /*contact*/
  .contact__form {
    background-color: white;
    padding: 0px 0px 49px 20px;
    top: 65%;
    left: 2%;
    right: 2%;
  }
  .contact__form-list {
    margin-right: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 56px;
  }
  .title .title_text {
    margin-top: 10px;
    font-size: 25px;
  }
  .contact__form-info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__wrapper {
    padding: 600px 0 91px 27px;
  }
  .footer__list {
    display: flex;
    padding-right: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .icon img {
    padding-left: 53%;
    padding-bottom: 30pxc;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
  .navbar {
    display: none;
  }
  .main-nav {
    background-size: cover;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 53px 5% 20px 20px;
  }
  /*hero */
  .hero .wrapper {
    padding-top: 150px;
  }
  .hero .wrapper .item {
    height: 490px;
    padding: 0 12%;
  }
  .hero .wrapper h1 {
    font-weight: 600;
    font-size: 40px;
  }
  .hero .wrapper span {
    font-weight: 350;
    font-size: 14px;
  }
  /*articles*/
  .articles__title {
    margin: 5px 0px;
    font-weight: 700;
    font-size: 28px;
  }
  .articles__info {
    font-size: 16px;
  }
  .articles img {
    width: 109%;
  }
  .articles__wrapper {
    margin-left: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 2.3fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0px 70px;
    grid-template-areas: "col1 col2";
    align-items: center;
  }
  .articles__wrapper2 {
    margin-bottom: 122px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 41% 65%;
    grid-template-rows: 1fr;
    gap: 0px 30px;
    grid-template-areas: "col1 col2";
    align-items: center;
  }
  .articles__location {
    margin-top: 30px;
  }
  /*news */
  .news__article {
    display: flex;
    align-items: center;
    margin: 0px 60px 0px 40px;
    padding-left: 70px;
  }
  .news .item {
    width: 305px;
  }
  /*gallery*/
  .gallery {
    margin: 0 15% 139px 15%;
  }
  /*contact*/
  .contact__form {
    background-color: white;
    padding: 0px 0px 69px 20px;
    top: 65%;
    left: 21%;
  }
  .contact__form-list {
    margin-right: 54px;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 56px;
  }
  /*footer*/
  .footer__wrapper {
    padding: 360px 0 291px 0px;
  }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
  }
  .footer__list .icon {
    margin-right: 60px;
    padding-right: 100px;
    padding-left: 120px;
  }
  .footer__cpr {
    padding-top: 15px;
  }
}/*# sourceMappingURL=main.css.map */